{{- with .image }}
  {{- if ne .background_image true }}
    <div class="hero-media">
      {{- $desktop := site.Params.hero.desktop -}}
      {{- $mobile := site.Params.hero.mobile -}}
      {{- $args := merge . (dict "lazy" false "desktop" $desktop "mobile" $mobile) }}
      {{- partial "commons/image.html" $args -}}
    </div>
  {{ end -}}
{{ end -}}

{{- with .image_2 }}
  {{- if ne .background_image true }}
    <div class="hero-media">
      {{- $desktop := site.Params.hero.image_2.desktop -}}
      {{- $mobile := site.Params.hero.image_2.mobile -}}
      {{- $args := merge . (dict "desktop" $desktop "mobile" $mobile) }}
      {{- partial "commons/image.html" $args }}
    </div>
  {{ end -}}
{{ end -}}