{{- with .Params.hero -}}
{{- if or (and (.title) (ne .title "")) (and (.text) (ne .text "")) -}}
{{- $class := "hero" -}}
{{- with .align -}}
  {{- $class = printf "%s hero-%s" $class . -}}
{{- end -}}
{{- with .image -}}
  {{- $class = printf "%s hero-with-image" $class -}}
{{- end -}}
<header class="{{ $class }}" {{- partial "func/SetAnim" (dict "element" "hero") }}>
  <div class="container">
    <div class="row">

      <div class="hero-content">
        {{ with .surtitle }}
          <p class="surtitle">{{ partial "func/PrepareHTML" . }}</h1>
        {{ end }}
        {{ with .title }}
          <h1>{{ partial "func/PrepareHTML" . }}</h1>
        {{ end }}
        {{ partial "commons/text" (dict "text" .text "class" "description") }}
        {{- with .ctas }}
          {{ partial "commons/cta-group.html" (dict "ctas" .) }}
        {{ end -}}
      </div>

      {{- with .image }}
        {{- if ne .background_image true }}
          <div class="hero-media">
            {{- $desktop := site.Params.hero.desktop -}}
            {{- $mobile := site.Params.hero.mobile -}}
            {{- partial "commons/image.html" (dict
                "src" .src
                "alt" .alt
                "desktop" $desktop
                "mobile" $mobile
                "lazy" false
            ) -}}
          </div>
        {{ end -}}
      {{ end -}}

      {{- with .image_2 }}
        {{- if ne .background_image true }}
          <div class="hero-media">
            {{- $desktop := site.Params.hero.image_2.desktop -}}
            {{- $mobile := site.Params.hero.image_2.mobile -}}
            {{- partial "commons/image.html" (dict
                "src" .src
                "alt" .alt
                "desktop" $desktop
                "mobile" $mobile
            ) }}
          </div>
        {{ end -}}
      {{ end -}}

    </div>
  </div>
</header>
{{ end -}}
{{ end -}}